

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 12pt;
    line-height: 18pt;
    color: #000000;
}

nav a {
    margin-right: 5px; text-decoration: none; color:white; font-family:'helvetica'; font-size:14pt; text-align: center;
}

main {
    padding: 20px;
}

h1 {
    font-weight: normal;
    font-size: 42pt;
    color: #000000;
    margin: 0 0; font-family: 'Teko';
}

#ad{font-family:'helvetica'; font-size:11pt}

footer{font-family: 'helvetica';color:white;font-size:8pt;font-style: italic; text-align:center}

h2 {font-size:18pt; color:#000000;font-family:'helvetica'}



main{background-color:#CDCDCD; width:1500px;padding-top: 650px}

#ad{background-color:#FE0000; padding:20px; width:200px}

footer{background-color:#000000; padding:50pt;width: 1500px}

#head{background-color:#000000; padding:20pt;width:1500px}



header{position:fixed;}



#splash{background-image: url(heading.jpg);height: 400px;padding:30pt}

#splash{display:flex; align-items: center;justify-content: center}

#head{display: flex;align-items: center;justify-content: center}

#mexican,#chicago,#thai{display: grid; grid-template-columns: 50% 50%}
main{display:grid;grid-template-columns: 75% 25%}

#ad{grid-column-start:2;grid-column-end:2}
